.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 25.5%;
  left: 49.6%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000;
  color: red;
  font-size: 16px;
  padding: 0.8% 0.8%;
  border: none;
  /*cursor: pointer;*/
  border-radius: 5px;
  text-align: center;
}
pre {font-size:4pt; letter-spacing:2px; line-height:3pt; font-weight:bold;}
img {
  width: 90%;
  height: auto;
}

.buttonDuck {
  border: none;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50px;
  background-color: #4CAF50; /*Green*/
}
